@font-face {
    font-family: "myfont";
    src: url(../fonts/GenJyuuGothic-Heavy.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "myfont";
    src: url(../fonts/GenJyuuGothic-Medium.ttf) format("truetype");
    font-weight: normal;
}

body {
    margin: 0;
    background-color:ghostwhite;
    font-family: "myfont";
}

nav {
    width: 100%;
    height: 60px;
    background-color:lightslategrey;
    padding-top: 5px;
    box-sizing: border-box;
}
ul {
    display: flex;
}
li{
    list-style: none;
}

.menu {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

h1 {
    margin-left: 10px;
    font-weight: bold;
}

rt {
    color: #52781B;
}

p { 
    margin-left: 10px;
}

textarea {
    border-radius: 10px;
    border-width: 3px;
    padding: 5px;
    box-shadow: 5px 5px 3px #333333;
}

textarea:focus {
    border-color: black;
    border-width: 3px;
    box-shadow: 4px 4px 3px #333333;
}

#askButton {
    width: 110px;
    height: 35px;
    text-align: center;
    font-family: "myfont";
    font-weight: normal;
    font-size: 16px;
    background-color:mediumseagreen;
    border-radius: 1px;
    border-color:forestgreen;
    color: white;
    box-shadow: 1px 1px #333333;
}
#askButton:hover {
    transition: background-color 0.2s;
    background-color:seagreen;
}

#askButton:active {
    background-color:green;
    border-color:darkgreen;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
}

.checkbox-container input {
        width: 20px;
        height: 20px; 
}

.checkbox-container input:checked {
        accent-color:indianred;
}

.loading {
    display: flex;
    align-items: center;
}

#loading {
    display: none;
    margin-left: 10px;
    font-size: 20px;
}

#dots {
    display: none;
    font-size: 20px;
    position: relative;
}

#dots::after {
    content: '...';
    animation: dots 1.2s steps(3, end) infinite;
}

@keyframes dots {
    0%, 20% {
        content: "";
    }
    40% {
        content: ".";
    }
    60% {
        content: "..";
    }
    80%, 100% {
        content: "...";
    }  
}

.geminiText::before {
    content: "先攻";
    color:white;
    background-color: hotpink;
    padding: 0px 2px 0px 2px;
    display: inline-block;
}

.cohereText::before {
    content: "後攻";
    color: white;
    background-color: deepskyblue;
    padding: 0px 2px 0px 2px;
    display: inline-block;
}