@font-face {
    font-family: "myfont";
    src: url(./fonts/GenJyuuGothic-Heavy.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "myfont";
    src: url(./fonts/GenJyuuGothic-Medium.ttf) format("truetype");
    font-weight: normal;
}

body {
    margin: 0;
    background-color:ghostwhite;
    font-family: "myfont";
}

nav {
    width: 100%;
    height: 60px;
    background-color:lightslategrey;
    padding-top: 5px;
    box-sizing: border-box;
}
ul {
    display: flex;
}
li{
    list-style: none;
}

.menu {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

h1 {
    margin-left: 10px;
    font-weight: bold;
}

rt {
    color: #52781B;
}

p { 
    margin-left: 10px;
}

textarea {
    border-radius: 10px;
    border-width: 3px;
    padding: 5px;
    box-shadow: 5px 5px 3px #333333;
}

textarea:focus {
    border-color: black;
    border-width: 3px;
    box-shadow: 4px 4px 3px #333333;
}

#askButton {
    width: 110px;
    height: 35px;
    text-align: center;
    font-family: "myfont";
    font-weight: normal;
    font-size: 16px;
    background-color:#50A7FF;
    border-radius: 1px;
    border-color:dodgerblue;
    color: white;
    box-shadow: 1px 1px #333333;
}
#askButton:hover {
    transition: background-color 0.2s;
    background-color: dodgerblue;
}

#askButton:active {
    background-color: royalblue;
    border-color:steelblue;
}

#loading {
    margin: 10px;
    text-align: right;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #333;
}
